.main {
  width: 100%;
  min-height: 100vh;
  padding: 0px 32px 80px;
}

.main-child {
  max-width: 900px;
  margin: 0px auto;
}

.container {
  width: 55%;
  min-height: 100vh;
  padding: 0px 32px 80px;
}

.container-child {
  max-width: 630px;
  margin: 0px auto;
}

input[type="month"]::-webkit-inner-spin-button:hover,
input[type="month"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: 210mm 180mm;
  margin: 20mm;
}
