.resume-heading:hover {
  color: rgb(59 130 246 / 0.5);
  cursor: pointer;
}

.pencil-icon {
  display: none;
}

.new-button {
  display: none;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.untitled-container:hover .pencil-icon {
  cursor: pointer;
  display: flex;
}

.untitled-text:hover {
  cursor: pointer;
  color: rgb(26, 145, 240);
}

.pencil-icon:hover {
  cursor: pointer;
  color: rgb(26, 145, 240);
}

.edit-text:hover {
  cursor: pointer;
  color: rgb(26, 145, 240);
}

.new-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.573);
}

.order-button:hover {
  background-color: rgba(0, 0, 255, 0.573);
  cursor: pointer;
}

.started-button:hover {
  background-color: rgba(0, 0, 255, 0.573);
  cursor: pointer;
}

.icon:hover {
  cursor: pointer;
}

.plus-main:hover .plus-icon {
  background-color: rgba(0, 0, 255, 0.573);
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .cv-box {
    width: 25%;
  }

  .new-resume {
    display: none;
  }

  .boost-career-box {
    flex: 1;
    flex-direction: column;
  }

  .top-resume-box {
    width: 100%;
  }

  .professionally-text {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
  }

  .an-expertly-text {
    font-size: 15px;
    width: 55%;
  }

  .resume-rabbit-box {
    width: 100%;
  }

  .post-text {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
  }

  .search-text {
    font-size: 15px;
    width: 55%;
  }
}

@media screen and (max-width: 767px) {
  .create-button {
    display: none;
  }

  .cv-box {
    width: 25%;
    height: 200px;
  }

  .new-button {
    display: flex;
  }

  .professionally-text {
    font-size: 15px;
    margin-top: 15px;
    font-weight: bold;
  }

  .an-expertly-text {
    font-size: 12px;
    width: 65%;
  }

  .post-text {
    font-size: 15px;
    margin-top: 15px;
    font-weight: bold;
  }

  .search-text {
    font-size: 12px;
    width: 65%;
  }

  .order-button {
    width: 60%;
  }

  .started-button {
    width: 60%;
  }

  .top-resume-box {
    width: 100%;
  }

  .resume-rabbit-box {
    width: 100%;
  }

  .tabs-container {
    justify-content: space-evenly;
  }

  .resume-heading {
    width: 50%;
    text-align: center;
  }
}
