.resume-heading:hover {
  color: rgb(59 130 246 / 0.5);
  cursor: pointer;
}

.pencil-icon {
  display: none;
}

.untitled-container:hover .pencil-icon {
  cursor: pointer;
  display: flex;
}

.untitled-text:hover {
  cursor: pointer;
  color: rgb(26, 145, 240);
}

.pencil-icon:hover {
  cursor: pointer;
  color: rgb(26, 145, 240);
}

.edit-text:hover {
  cursor: pointer;
  color: rgb(26, 145, 240);
}

.icon:hover {
  cursor: pointer;
}

.plus-main:hover .plus-icon {
  background-color: rgba(0, 0, 255, 0.573);
  color: #fff;
}
