.back-button:hover {
  border-color: lightblue;
  color: lightblue;
}

.continue-button:hover {
  background-color: rgba(28, 10, 217, 0.9);
}

@media screen and (max-width: 900px) {
  .two-headings {
    display: block;
    margin-left: 20px;
  }
  .input {
    width: 80%;
    align-self: flex-start;
    margin-left: 21px;
  }
  .input-heading {
    width: 95%;
  }
  .buttons-container {
    width: 80%;
    justify-content: space-between;
    margin-left: 20px;
  }
  .sub-title {
    display: block;
    width: 100%;
    text-align: start;
  }
}
