.button:hover {
  background-color: rgba(83, 89, 110, 0.522);
  color: #fff;
}

.animation-pulse {
  animation: pulse 1.5s ease infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
