.container {
  width: 100%;
  min-height: 100vh;
  padding: 60px 32px 80px;
}

.container-main {
  max-width: 1200px;
  margin: 0px auto;
  align-items: center;
}

.tab-container:hover .tab-text {
  color: black;
  cursor: pointer;
}

.tab-container:hover .tab-icon {
  color: #1da1f2;
  cursor: pointer;
}

.all-temp-container:hover {
  cursor: pointer;
}

.all-temp-btn:hover {
  background-color: blue;
  cursor: pointer;
}
